doctype
html
    head
        meta(charset='utf-8')
        title #{title}
        include ./includes/head
        link(rel="shortcut icon", href=URL_PREFIX + "/static/favicon.ico")
    body
        include ./includes/header
        block content